@use "variables" as *;
@use "mixins" as *;
// Base styles moved to globals.scss

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $font-family-aeonik;
  font-size: 18px;
  color: $main-text;
  font-weight: 400;
  line-height: 1.5;
  background: $background-color;
}

// Ensure all text elements inherit the correct color
p,
div,
span,
a,
li,
td,
th {
  color: inherit;
}



// Remove default button styles
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

// Remove default input styles
input,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// Remove default link styles
a,
a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
}

// Remove default list styles
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Remove default heading margins
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// Remove default paragraph margins
p {
  margin: 0;
  padding: 0;
}

// Remove default image styles
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Remove default table styles
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Remove default fieldset styles
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// Remove default legend styles
legend {
  padding: 0;
}

// Base styles
sup {
  font-size: 50%;
  top: -0.85em;
}

ol {
  padding: 0.6rem 0 0 1rem;
  line-height: 1.6rem;
}

.container-fluid {
  width: 1200px;
  max-width: 88vw;
  padding-left: 0;
  padding-right: 0;
}
// Link styles

.container {
  width: 1140px;
  max-width: 88vw;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}