@use "variables" as *;
@use "mixins" as *;

@import "tailwindcss";
// Base styles moved to globals.scss

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $font-family-aeonik;
  font-size: 18px;
  color: $main-text;
  font-weight: 400;
  line-height: 1.5;
  background: $background-color;
  min-height: 2000px;
}

// Ensure all text elements inherit the correct color
p,
div,
span,
a,
li,
td,
th {
  color: inherit;
}



// Remove default button styles
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

// Remove default input styles
input,
textarea,
select {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// Remove default link styles
a,
a:hover,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
}

// Remove default list styles
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Remove default heading margins
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// Remove default paragraph margins
p {
  margin: 0;
  padding: 0;
}

// Remove default image styles
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Remove default table styles
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Remove default fieldset styles
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// Remove default legend styles
legend {
  padding: 0;
}

// Base styles
sup {
  font-size: 50%;
  top: -0.85em;
}

ol {
  padding: 0.6rem 0 0 1rem;
  line-height: 1.6rem;
}

.container-fluid {
  width: 1200px;
  max-width: 88vw;
  padding-left: 0;
  padding-right: 0;
}
// Link styles

.container {
  width: 1300px;
  max-width: 88vw;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

//start hero style 
.hero {
  position: relative;
  .container {
    padding-top: 100px;
    border-bottom: 2px solid #E2E2E2;
    height: 780px;
    max-height: 100vh;
    position: relative;
  }
}
.hero-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px 39px 0px;
  z-index: 10;
  color: $light-grey-2;
}
.hero-sidebar-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 16px;
  font-weight: 400;
  transform: rotate(180deg);
  white-space: nowrap;
}
.hero-sidebar-line {
  width: 1px;
  height: 70%;
  background-color: $light-grey-2;
  margin: 20px 0;
}
.hero-image {
  position: absolute;
  bottom: 0;
  right: -7px;
  max-height: 92vh;
  object-fit: contain;
}
.hero-statistics {
  display: flex;
}
.hero-content {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 90px;
}
.hero-title-span {
  font-size: 20px;
}
.hero-title-span.text-4xl {
  font-size: 240px; 
  font-weight: 300;
  line-height: 1;
  font-style: normal;
}
.hero-statistics-item-value {
  font-size: 46px;
  font-weight: 300;
  display: flex;
  line-height: 1;
}
.plus {
  font-size: 30px;
  margin-right: 8px;
  margin-top: 3px;
  display: block;
}
.hero-statistics-item-label {
  font-size: 16px;
  color: $light-grey;
}
.hero-statistics-item {
  margin-right: 28px;
}
.scroll-down img {
  transition: all 0.5s;
}
.scroll-down:hover {
  img {
    transform: translateY(2px);
  }
}
//end hero style

@media (max-width: 1260px) {
  .hero-content {
    margin-left: 60px;
  }
  .hero-title-span.text-4xl {
    font-size: 200px;
  }
  .hero-image {
    width: 44vw;
  }
  .hero .container {
    height: 62vw;
  }
}
@media (max-width: 992px) {
  .hero-title-span.text-4xl {
    font-size: 20vw;
  }
  .hero-sidebar {
    display: none;
  }
  .hero-content {
    margin-left: 0;
  }
  .hero .container {
    height: 75vw;
  }
  .hero .container {
    max-height: fit-content;
    height: fit-content;
    min-height: 60vw;
  }

}
@media (max-width: 665px) {
  .hero {
    overflow: hidden;
  }
  .hero .container {
    height: auto;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
  }
  .hero-image {
    width: auto;
    right: auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    max-height: 61vh;
  }
  .hero-statistics {
    order: 2;
    flex-direction: column;
    margin-top: 60px;
  }
  .hero-title-span {
    font-size: 5.2vw;
    line-height: 1.8;
    margin-top: 2vw;
  }
  .hero-title-span.text-4xl {
    font-size: 12vw;
  }
  .scroll-down-wrapper {
    position: absolute;
    left: 0%; 
    bottom: -1px;
    z-index: 9; 
    width: 100%;
    padding-top: 20vw;
    padding-bottom: 3vw;
    background: linear-gradient(181.21deg, rgba(#E2E2E2, 0) 20%, #E2E2E2 80%);
    display: flex;
    justify-content: center;
  }
 
  .hero-title {
    order: 1;
  }
  .hero-content {
    padding-left: 6vw;
    justify-content: flex-start;
    position: relative;
    padding-top: 0;
    
  }
  .hero .container {
    padding-top: 10vh;
  }
 
  .hero-statistics-item {
    opacity: 0.1;
  }
  .hero-statistics-item:first-child {
    position: absolute;
    bottom: 49vh;
    right: -4vw;
    text-align: right;
    .hero-statistics-item-value {
      justify-content: flex-end;
    }
    
  }
  .hero-statistics-item:nth-child(2) {
    position: absolute;
    bottom: 35vh;
    left: 0;
    text-align: right;    
  }
  .hero-statistics-item-label {
    font-size: 3.8vw;
    color: #222;
  }
  .hero-statistics-item-value {
    font-size: 13vw;
    line-height: 0.8;
  }
  
  
}
@media (max-width: 520px) {
.hero .container {
  padding-top: 16vh;
}
.hero-statistics-item:first-child {
  .hero-statistics-item:first-child {
    right: -7.5vw;
  }
}
}