// Actually used variables
$main-text: #222222;
$section-padding: 100px;
$background-color: #F8F8F8;
$light-grey-2: #C1C1C1;
$light-grey: #7B7B7B;


// Font families
$font-family-base: var(--font-open-sans), "Open Sans", sans-serif;
$font-family-heading: var(--font-archivo-black), sans-serif;
$font-family-aeonik: var(--font-aeonik), sans-serif;

// Font sizes 
$font-size-sm: 14px;    
$font-size-base: 16px; 
$font-size-lg: 18px;   
$font-size-xl: 20px;    
$font-size-2xl: 28px; 
$font-size-3xl: 32px;   
$font-size-4xl: 44px;  
$font-size-5xl: 52px;   
