@use "../../../scss/variables" as *;

.ctaSection {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $background-color;
}

.ctaContent {
  margin: 0 auto;
  text-align: center;
  background:
    linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 80%),
    url('/images/cta.png') no-repeat center center;
  background-size: cover;
  width: 1140px;
  max-width: 100%;
  padding-top: 97px;
  padding-bottom: 97px;
  border-radius: 10px;
  color: #fff;
}

.ctaTitle {
  margin-bottom: 21px;
}

.ctaDescription {
  line-height: 1.6;
  color: #fff;
  width: 790px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ctaButtonWrap {
  margin-top: 21px;
}


@media (max-width: 768px) {
  .ctaSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .ctaTitle {
    margin-bottom: 10px;
  }

  .ctaDescription {
    margin-bottom: 0px;
    font-size: $font-size-sm;
  }

  .ctaContent {
    padding-top: 50px;
    padding-bottom: 30px;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 60%),
      url('/images/cta.png') no-repeat center center;
    background-size: cover;
}
}