@use "../../../scss/variables" as *;

.contactSection {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #EFEFEF;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: start;
}

.left {
  max-width: 400px;
}

.title {
  margin-bottom: 20px;
  color: $main-text;
}

.description {
  margin: 0;
  line-height: 1.6;
  color: $main-text;
  width: 320px;
  max-width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 30px;
  color: $main-text;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.85;
  }
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #8C8C8C;
  border-radius: 10px;
  color: #fff;
  flex-shrink: 0;
 
}

.contactText {
  font-size: $font-size-xl;
  font-weight: 400;
}

@media (max-width: 768px) {
  .contactSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .left {
    max-width: 100%;
  }

  .title {
    margin-bottom: 16px;
  }

  .description {
    font-size: $font-size-sm;
  }
  .contactText {
    font-size: 18px;
  }
  .contactItem {
    gap: 15px;
  }
  .iconWrap {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
